main{
  margin-top: 90px;
}

body{
  background-color: #FDFDFD;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#list-of-products {
  gap: 10px;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
  gap: 10px;
  
  border: solid black 2px;

  width: 80vw;
}

table{
  width: 400px;
  border: black solid 2px;
  text-align: left;

  border-collapse: collapse;

  margin: 0;

}

th{
  background-color: #333;
  color: white;
  white-space: nowrap;

}

th,td {
  border: solid black 2px;
  padding: 5px;
}

td{
  width: 100em;
}

.product-img-small{
  height: 4rem;
  background-color: rgb(219, 219, 219);

  border-radius: 10px;
}

button{
  height: 3em;
  width: 8em;

  border-radius: 0.5em;
  background-color: black;
  color: white;
  border: none;

  cursor: pointer;
}

#products-container,
#add-product-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: black 0.2em solid;
  border-radius: 2em;
  width: 90vw;

  gap: 10px;

  margin-bottom: 15px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#edit-form-container{
  position: fixed;

  height: calc(100vh - 80px);
  width: 100vw;
  bottom: 0;
  left: 0;
  margin-bottom: 0;

  background-color: white;
  z-index: 1001;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  text-align: center;
}