*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#navbar{
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #FFFFFF;

  position: fixed;
  width: 100vw;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  font-weight:600;
}

.clickable-section{
  padding: 5px 10px;
  
}
.clickable-section:hover{
  cursor: pointer;
  color: #777;
}


#navbar a{
  color: black;
  text-decoration: none;
  padding: 10px;
}
#navbar a:hover{
  color: #777;
  text-decoration: none;
  padding: 10px;
}

#search-section{
  width: 100px;
  border-bottom: black solid 1px;
}

#search-section #search{
  border: none;
  width: 80px;
  padding: 5px 0px;
}
#search-section #search:focus{
  outline: none;
}

.diplay-none{
  display: none;
}

body {
  display: flex;
  flex-direction: column;
}

main{
  margin-top: 100px;

  min-height: 100vh;
}